<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
<div class="container my-4">
    <p th:text="'Cantidad de usuarios: ' + ${#lists.size(users)}"></p>
    <h3 th:text="${title}"></h3>

    <a th:href="@{/users/form}" th:text="'crear user (+)'" class="btn btn secondary"></a>
    <div th:if = "${#lists.isEmpty(users)}" th:text="'no hay usuarios en el sistema!'" ></div>
    <table class="table table-hover table-striped" th:if = "${not #lists.isEmpty(users)}">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>lastname</th>
            <th>email</th>
            <th>create at</th>
            <th>edit</th>
            <th>remove</th>

        </tr>
        </thead>
        <tbody>
        <!--va users porque en el controlador lo tengo como users-->
        <tr th:each = "user : ${users}"> <!--es each de thymeleaf es como un for each que te permite iterar en este caso por cada usuario-->
            <td th:text = "${user.id}"></td>
            <td th:text = "${user.name}"></td>
            <td th:text = "${user.lastname}"></td>
            <td th:text = "${user.email}"></td>
            <td th:text = "${user.createdAt}"></td>
            <td><a th:href="@{/users/form/{id} (id = ${user.id})}" class="btn btn-sm btn-primary">edit</a></td>
            <td><a th:href="@{/users/delete/{id} (id = ${user.id})}" class="btn btn-sm btn-danger" onclick = " return confirm( ' esta seguro que desea eliminar?')" >delete</a></td>
        </tr>
        </tbody>
    </table>
    
</div>

</body>
</html>